@import url('https://fonts.googleapis.com/css?family=Buda');
@import url('https://fonts.googleapis.com/css?family=Carter+One');

html, body{
  margin: 0;
  width: 100%;
  height: 100%;
}

header{
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

.head-one{
  float: right;
  padding: 15px 10px 0 0;
  
}
.head-two{
  display: none;
}
ul{
  list-style-type: none;  
}
nav ul li{
  display: inline-block;
  padding: 8px;
}
nav ul li a:hover{
  text-decoration: none;
  color: white;  
}
#currentpage{
  color: white;
}

.banner{
  margin: 0;
  background-color: lightblue; 
  width: 100%;
  height: 300px;
}
.snow{
  background: url(http://www.wearewebstars.dk/codepen/img/s1.png);
  width: 100%;
  height: 800px;
  position: absolute;
  background-size: cover;
  animation: snow 20s infinite linear;
  filter: blur(3px);
}
.snow1{
  background: url(http://www.wearewebstars.dk/codepen/img/s1.png);
  width: 100%;
  height: 300px;
  background-size: 300px;
  position: absolute;
  filter: blur(1px);
  animation: snow 2s infinite linear; 
}
.snow2{
  background: url(http://www.wearewebstars.dk/codepen/img/s1.png);
  width: 100%;
  height: 300px;
  background-size: 600px;
  position: absolute;
  filter: blur(2px);
  animation: snow 5s infinite linear;
}
@keyframes snow{
  0%{
    background-position: 0px 0px;
  }
   
  100%{
    background-position: 20px 300px;
  }
}
ul .flytext{
  display: inline-block;
}
.flytext{
  font-size: 600%;
  font-family: Carter One;
  color: white;
  position: relative;
  left: 15%;
  top: 30px;
  -webkit-transition: all 10s ease-in-out;
  -moz-transition: all 10s ease-in-out;
  -o-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}
.disappear .flytext{
  opacity: 0;
}

.disappear .flytext:nth-child(1){
  transform: translateX(-200px) translateY(100px);}
.disappear .flytext:nth-child(2){
  transform: translateX(0px) translateY(-90px);}
.disappear .flytext:nth-child(3){
  transform: translateX(-400px) translateY(80px);}
.disappear .flytext:nth-child(4){
  transform: translateX(90px) translateY(70px);}
.disappear .flytext:nth-child(5){
  transform: translateX(-90px) translateY(60px);}
.disappear .flytext:nth-child(6){
  transform: translateX(0px) translateY(50px);}
.disappear .flytext:nth-child(7){
  transform: translateX(500px) translateY(-400px);}

h3 {
  text-align: center;
  font-size: 180%;
  font-family: Carter One;
  color: lightblue;
  margin: 2%;
}

#selfie{
  border-radius: 50%;
  background: red;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 150px;

}

#ME{
  font-size: 130%;
  font-family: Buda;
  line-height: 140%;
  margin: 3% 30%;
  text-align: justify;
  color: black;
  text-indent: 5%;
}

.one-third{
  width: 20%;
  display: inline-block;
  margin: 1% 5% 0 7%;
  background: lightblue;
}

.frame{
  background-color: lightblue;
  margin: 4%;
}
.frame:hover .frame2{
 opacity: 0.2;
}
.img_title{
  visibility: hidden;
  opacity: 0;
  background-color: pink;
  
}
.frame:hover .img_title{
  visibility: visible;
  opacity: 1;
  text-align: center; 
  color: white;
  font-family: Buda;
  transform: translateY(-100px);
  transition: opacity 5s, visibility 2s;
  -webkit-animation: description 2s;
  -moz-animation: description 2s;
  -o-animation: description 2s;
  animation: description 2s;
} 

img{
  display: block; /*the first two line: center the picture*/
  margin: 0 auto; 
  max-width: 100%;
  height: auto;
  width: auto;
}

 .list .language{
    display: inline-block;
    color: pink;
    font-family: Buda;
    background-color: white;  
  }
  
  .list{
    visibility: hidden;
    opacity: 0;
  }

.frame:hover .list{
  transform: translateY(-100px);
  visibility: visible;
  opacity: 1;
  transition: opacity 5s, visibility 2s;
  -webkit-animation: description 2s;
  -moz-animation: description 2s;
  -o-animation: description 2s;
  animation: description 2s;
}

@keyframes description{
  0%, 100%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-100px);
  }
}

.source{
  font-size: 200%;
  text-align: center;
  background: pink;
}
span a i:hover{
  color: white;
}
#next{
  text-align: center;
  padding: 3%;
}
.nextpage{
  font-size: 500%;
  text-align: center;
  color: lightblue;
  cursor: pointer;
}

.nextpage:hover{
  color: pink;
}
/*end of profile**/
.image {
  background: url("images/cat.jpg") repeat fixed 100%;
  opacity: 0.5;
  background-size: cover;
}
.image-inner {
  padding-top: 35%;
}

h2 {
  text-align:center;
  margin: 5% 0 1% 0;
  font-weight: 400;
  font-family: Carter One;
  color: lightblue;
  font-size: 200%;
  margin: 2%;
}
.one-half{
  display: inline-block;
  width: 35%;
  margin: 1% 0 1% 11%;
  }
.container{
  padding-top: 3%;
  color: #3971c6;
}

.bars{
  width: 200px;
  height: 2px;
  background-color: lightblue;
}

.percentage{
  height: 2px;
  background-color: pink;
}

.one-half ul.container.bars.percentage{
  text-align: center;
}
#html5{
  width: 70%;
 -moz-animation: html5 20s ease-out;
  animation: html5 20s ease-out;
}

#javascript{
  width: 65%;
  -moz-animation: javascript 20s ease-out;
  animation: javascript 20s ease-out;
}

#Jquery{
  width: 60%;
  -moz-animation: Jquery 20s ease-out;
  animation: Jquery 20s ease-out;
}
#Java{
  width: 55%;
  -moz-animation: Java 20s ease-out;
  animation: Java 20s ease-out;
}
#react{
  width: 30%;
  -moz-animation: react 20s ease-out;
  animation: react 20s ease-out;
}
#git{
  width: 70%;
 -moz-animation: git 20s ease-out;
  animation: git 20s ease-out;
}
#unix{
  width: 70%;
 -moz-animation: unix 20s ease-out;
  animation: unix 20s ease-out;
}
#dream{
  width: 65%;
 -moz-animation: dream 20s ease-out;
  animation: dream 20s ease-out;
}
#learning{
  width: 75%;
 -moz-animation: learning 20s ease-out;
  animation: learning 20s ease-out;
}
#organization{
  width: 70%;
 -moz-animation: organization 20s ease-out;
  animation: organization 20s ease-out;
}

@keyframes html5{
  from{width: 0%;}
  to{width: 70%;}
}
@keyframes javascript{
  from{width:0%;}
  to{width: 65%;}
}
@keyframes Jquery{
  from{width:0%;}
  to{width:60%;}
}
@keyframes Java{
  from{width:0%;}
  to{width:65%;}
}
@keyframes react{
  from{width: 0%;}
  to{width:30%;}
}
@keyframes git{
  from{width: 0%;}
  to{width:70%;}
}
@keyframes unix{
  from{width: 0%;}
  to{width:70%;}
}
@keyframes dream{
  from{width: 0%;}
  to{width:65%;}
}
@keyframes learning{
  from{width: 0%;}
  to{width:75%;}
}
@keyframes organization{
  from{width: 0%;}
  to{width:70%;}
}

.connection{
  text-align: center;
}
.connection ul li{
  display: inline-block;
  padding: 2%;
}
.connection ul li a:hover{
  text-decoration: none;
  color: pink;
}
.connection li a{
  font-size: 180%;
  text-align: center;  
}
.connection-two{
  display: none;
}
#copyright{
  width: 100%;
  padding: 0.5%;
  background-color: lightblue;
  margin: 0;
  font-size: 180%;
  text-align: center;
  color: white;
}
@media screen and (max-width: 1024px){
   .image{
      background: url("images/cat2.jpg") repeat fixed 100%;
      opacity: 0.5;
      background-size: cover;
   }
}
@media screen and (max-width: 768px){
  .flytext{
    font-size: 350%;
    left: 5%;
  }
  #selfie{
    margin: 0 41.5%;
  }
  .one-third{
    width: 80%;
    margin: 1% 6% 0 12%;
  }
  .one-half{
    margin: 1% 0 1% 5%;
  }

  .image{
    background: url("images/polarbear.jpg") repeat fixed 100%;
    background-size: cover;
  
  }
  
  .connection li a{
    font-size: 130%;
  }
 
}
@media screen and (max-width: 520px){
  .one-half{
    width: 80%;
   
}
@media screen and (max-width: 460px){
  .head-one{  
    display: none;
  }
  .head-two{
    display: block;
    text-align: center;
  }
  .head-two ul li{
    padding-right: 8%;
    display: inline-block;
    font-size: 200%;    
  }
  #selfie{
    margin: 0 35%;
  }
  #ME{
    margin: 4%;
  }
  
  .connection{
    display: none;
  }
  .connection-two{
    display: block;
    text-align: center;
  }
  .connection-two ul li{
    display: inline-block;
    padding-right: 10%;
    font-size: 200%;
  }
  .connection-two ul li a i:hover{
   color: pink;
  }
}
